{
    "TOKEN_NOTION": "",
    "DATABASE_ID": "",
    "FOLDER_ID": "",
    "COLOR_TO_DIR": {
        "灰": "",
        "茶": "",
        "緑": "",
        "水": "",
        "青": "",
        "黄": "",
        "橙": ""
    },
    "COLOR_TO_TAG": {
        "灰": "gray",
        "茶": "brown",
        "緑": "green",
        "水": "blue",
        "青": "purple",
        "黄": "yellow",
        "橙": "orange"
    },
    "API_ATCODER_PROBLEM": "https://kenkoooo.com/atcoder/resources/problem-models.json",
    "API_NOTION": "https://api.notion.com/v1/"
}